

body{
    margin-top: 50px;
    background-image:url("images/enterprise.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    color:whitesmoke;
}
button{
    width:150px;
    height:150px;
    color:whitesmoke;
    border:2px whitesmoke ridge;
    display: inline-block;
    font-size:50px;
    border-radius: 50%;
    }
.game{
    font-size: 300%;
    font-weight: bold;
    color:whitesmoke;

}
.first{
    padding-top:25px;
}
.second{
    padding-top: 25px;
}
.third{
    padding-top:25px;
}
.fourth{
    padding-top:25px;
}
.fifth{
    padding-top:25px;
}
.reset button{
    background-color:red;
    color:whitesmoke;
}

.rock{
    background-image:url("images/rock.jpg");
    background-size: 150px 150px;
    

}
.paper{
    background-image:url("images/yellowpaper.jpg");
    background-size: 150px 150px;
}
.scissors{
    background-image:url("images/scissors.jpg");
    background-size: 150px 150px;
}
.lizard{
    
    background-image:url("images/lizard.jpg");
    background-size: 150px 150px;
}
.spock{
    background-image:url("images/spock.png");
    background-size: 150px 150px;
}
.question{
    background-image:url("images/question.png");
    background-size: 150px 150px;
}

